@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
html{
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* Navbar styling */
.navbar {
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background-color: crimson;
  padding: 20px 0px;
  font-family: "Ubuntu", sans-serif;
}
.navbar .menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
    color: black;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo span {
  color:rgb(248, 233, 18);
}
.navbar .menu li {

  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}

.navbar .menu li a:hover {
  background: #fff;
  border-radius: 15%;
  padding: 7px;
  color: black;
  transition: 0.5s;
}

/* home section styling */
.home {
  display: flex;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(105, 44, 105), rgb(19, 2, 2));
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 65px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content a{
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 10px;
  border-radius: 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: #fff;
  background: none;
  }

  /* about section styling */
  section{
    padding: 100px 0;
  }
  .about, .services ,.skills ,.teams, .Contact{
    font-family: 'Poppins', sans-serif;
  }
  section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
  }
  section .title::after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    font-size: 20px;
    color: crimson;
    background: #fff;
    transform: translateX(-50%);
  }
  .about .title::after{
    content: "who i am";
  }
  .about .about-content,
  .services .serv-content,
  .skills .skills-content,
  .contact .contact-content
  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }

  .about .about-content .left{
    width: 45%;
  }


.about .about-content .left img{
  border-radius: 12px;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.about .about-content .right{
  width: 55%;

}
.about .about-content .right .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

}
.about .about-content .right .text span{
  color: crimson;
}
.about .about-content .right p{
  text-align: justify;
}

.about .about-content .right a{
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 6px;
  border-radius: 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover{
  color: crimson;
  background: none;
}


/* .services section styling */
.services,.teams{
  color: white;
  background: black;
}
.services .title::before,
.teams .title::before{
  background: white;
}
.teams .title::after{
  background: black;
}
.services .title::after{
  background: black;
  content: "what i provide";
}
.services .serv-content .card{
  width: calc(33% - 20px);
  background: rgb(27, 27, 27);
  border-radius: 12px;
  text-align: center;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover{
  background: rgb(90, 83, 83);
}
.services .serv-content .card i{
  font-size: 50px;
  color: crimson;
}
.services .serv-content .card .text{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}


/* skils section styling */

.skills .title::after{
  content: "What i know";
}
.skills .skills-content .column{
  width: calc(50% - 30px);
}
.skills .skills-content .left .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p{
  text-align: justify;
}
.skills .skills-content .left a{
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  padding: 10px 30px;
  margin-top: 6px;
  border-radius: 20px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}

.skills .skills-content .left a:hover{
  color: crimson;
  background: none;
}
.skills .skills-content .right .bars{
  margin-bottom: 15px;
}
.skills .skills-content .right .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.skills .skills-content .right span{
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line{
  height: 5px;
  width: 100%;
  background: lightgray;
  position: relative;
}
.skills .skills-content .right .line::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: crimson;
}
.skills .skills-content .right .HTML::before{
  width: 80%;
}
.skills .skills-content .right .CSS::before{
  width: 70%;
}
.skills .skills-content .right .js::before{
  width: 50%;
}
.skills .skills-content .right .mysql::before{
  width: 60%;
}
.skills .skills-content .right .php::before{
  width: 30%;
}
.skills .skills-content .right .OPP::before{
  width: 75%;
}

/* teams section styling */

.teams .title::after{
  content: "Who with me";
}

.teams .carousel .card{
  background: rgb(59, 55, 55);
  border-radius: 13px;
  padding: 25px 35px;
  margin-left: 15px
}
.teams .carousel{
  display: flex;
}
.teams .carousel .card .text{
font-size: 25px;
font-weight: 500;
margin: 10px 0 7px 0;
}
.teams .carousel .card .box{
  
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.teams .carousel .card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid crimson;
}

/* contact me styling */
.contact .title::after{
  content: "Get in touch";
}

.contact .contact-content .column{
 width: 100%;
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
  text-align: justify;
}

.contact .contact-content .left .icons .head{
  font-size: 20px;
  font-weight: 600;
  font:bold;
}
.contact .contact-content .left .icons{
  margin: 10px 0;
}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  font-style: 25px;
  color: crimson;
}
.contact .contact-content .info .head{
  font-weight: 500;
}
.contact .contact-content .info .sub-title{
  color: #333;
}



/* reponsive design */
@media only screen and (max-width: 1768px) {
  .home .max-width {
    margin-left: 0px;
  }

}
@media only screen and (max-width: 1104px) {
  .about .about-content .left img{
    height: 250px;
    width: 250px;
  }
  .max-width {
    max-width: 900px;
  }
  .about .about-content .column{
    width: 50%;
  }
  .about .about-content .left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right{
    width: 100%;
    flex: 100%;
  }

/*teams*/
  .teams .carousel .card{
    border-radius: 13px;
    padding: 25px 35px;
    margin-left: 15px
  }
  .teams .carousel{
    display: flex;
  }
  .teams .carousel .card .text{
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 7px 0;
  }
  .teams .carousel .card .box{
    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .teams .carousel .card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
  }
/*services*/
  .services .serv-content .card{
    width: calc(33% - 5px);
    border-radius: 12px;
    text-align: center;
    align-content: space-between;
    padding: 30px 35px;
  }

  .services .serv-content .card i{
    font-size: 40px;
  }
  .services .serv-content .card .text{
    font-size: 17px;
    font-weight: 400;
    margin: 7px 0 4px 0;
  }

}




/*footer*/
.footer{
  background: black;
  height: 10vh;
  text-align: center;
}
.footer .max-width .footer-content i{
  color: white;
  padding: 10px;
  margin-left: 10px;
  transition: 0.5s ease;
}
.footer .max-width .footer-content i:hover{
  color: crimson;
  font-size: 25px;
}
























/*Media Queries fire*/


@media only screen and (max-width: 991) {

  .max-width {
    padding: 0 50px;
  }
  .home .home-content .text-2 {
    font-size: 40px;
  }
  
}
@media only screen and (max-width: 943px) {
    .max-width {
        padding: 0 50px;
      }
      .navbar .menu-btn{
        display: block;
        z-index: 1;
        position: fixed;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        cursor: pointer;
    }
    /* .menuIcon
    {
      display: none;
    } */
    .showMenu {
      transform: translateY(0%);
      transition: tranform 2s;
    }
    .closeIcon {
      display: none;
        }
    
    .menu{
      transform: translateX(150%);
  transition: tranform 2s;
          position: fixed;
          height:35vh;
        width: 127;
        border-radius: 15px;
          z-index: 99;
          width:30vw;
          background-color: #111;
          display: grid;
          left:60%;
          top: 8%;
          /* background:white; */
          text-align: center;
          padding-top: 20px;
      }
      /* .navbar .menu:active{
        display: block;
      }
      .navbar .menu li{
         left: 0;
      }
      .navbar .menu li a{
          
        display: inline-block;
        margin: 28px 0;
        font-size: 25px;
        } */
        .home .home-content .text-2 {
          font-size: 50px;
        }
        .home .home-content .text-3 {
          font-size: 35px;
        }

}

@media only screen and (max-width: 700px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 40px;
  }
  .home .home-content .text-3 {
    font-size: 28px;
  }


  /*Teams*/

  .teams .carousel .card{
    border-radius: 13px;
    padding: 25px 35px;
    margin-left: 10px
  }
  .teams .carousel{
    display: flex;
  }
  .teams .carousel .card .text{
  font-size: 10px;
  font-weight: 400;
  margin: 7px 0 4px 0;
  }
  .teams .carousel .card .box{
    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .teams .carousel .card img{
    height: 700px;
    width: 700px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
  }

}

@media only screen and (max-width: 560px) {
  .home .home-content .text-2 {
    font-size: 30px;
  }
  .home .home-content .text-3 {
    font-size: 22px;
  }

}

@media only screen and (max-width: 810px) {
  .teams .carousel .card{
    border-radius: 13px;
    padding: 25px 35px;
    margin-left: 15px
  }
  .teams .carousel{
    display: flex;
  }
  .teams .carousel .card .text{
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 7px 0;
  }
  .teams .carousel .card .box{
    
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  .teams .carousel .card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
  }

}

@media only screen and (max-width: 600px) {
  .services .serv-content .card{
    width: 100%;
    border-radius: 12px;
    text-align: center;
    padding: 30px 35px;
    margin-bottom: 25px;
  }
  .services .serv-content{
    align-items: center;
  }
  .services .serv-content .card i{
    font-size: 40px;
  }
  .services .serv-content .card .text{
    font-size: 17px;
    font-weight: 400;
    margin: 7px 0 4px 0;
  }


  .skills .skills-content .left img{
    height: 250px;
    width: 250px;
  }
  .max-width {
    max-width: 900px;
  }
  .skills .skills-content .column{
    width: 50%;
  }
  .skills .skills-content.left{
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .skills .skills-content .left{
    width: 100%;
    flex: 100%;
  }


  .teams .carousel .card{
    border-radius: 13px;
    padding: 25px 35px;
    margin-left: 15px;
    margin-top: 25px;
  }
  .teams .carousel{
    display: flex;
    flex-direction: column;
  }
  .teams .carousel .card .text{
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0 7px 0;
  }
  .teams .carousel .card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
  }

  .skills .skills-content .right{
    margin-top: 30px;
    width: 100%;

  }


}




@media only screen and (max-width: 430px) {

.menu{
      transform: translateX(150%);
  transition: tranform 2s;
          position: fixed;
          height:35vh;
          width: 127;
          z-index: 99;
          width:40vw;
          background-color: #111;
          display: grid;
          left:60%;
    border-radius: 15px;
          top: 8%;
          /* background:white; */
          text-align: center;
          padding-top: 20px;
      }

}






















@media only screen and (max-width: 320px) {
  .services .serv-content .card i{
    font-size: 35px;
    color: crimson;
  }
  .services .serv-content .card .text{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0 7px 0;
  }

  .services,.teams{
    color: white;
    background: black;
  }
  .services .title::before,
  .teams .title::before{
    background: white;
  }
  .teams .title::after{
    background: black;
  }
  .services .title::after{
    background: black;
    font-size: 15px;
    content: "i provide";
  }

}



